body {
    background: url("./image2.jfif")no-repeat center center/ cover;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    height: 250px;
    width: 60%;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer{
    width: auto;
    font-size: 70px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons{
    text-align: center;
}

button{
    margin: 0 10px;
    border: none;
    color: #fff;

}

button i{
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    width: 100%;
}
button i:hover{
    color: rgb(57, 55, 55);
}
#play{
    background-color: green;
}
#pause{
    background-color: orange;
}
#reset{
    background-color: red;
}